:root {
  --creemy: #f3f3f3;
  --Grey: #7f7f7f;
  --smoothRed: #d15050;
  --lightBlack: #1A1C2D;
}

html,
body {
  font-family: "Noto Naskh Arabic", Arial, Helvetica, sans-serif;
  background-color: var(--lightBlack);
  color: var(--creemy);
  scroll-behavior: smooth;
}




a {
 
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Noto Naskh Arabic", Arial, Helvetica, sans-serif;
}
*::selection {
  background-color: rgb(33, 33, 33);
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--smoothRed);
}


